{% extends "_base.html" %}
{% load humanize %}



{% load static %}
{% comment %} {% load humanize %} {% endcomment %}


<!-- title section -->
{% block title %} | 
    {% if prodlist %} 
        {% for item in prodlist  %} 
            {{item.name}}
        {% endfor %} 
    {% endif %}
{% endblock title %}


<!-- upper header section -->
{% block header %}
  {% include "components/navbar.html" %}
{% endblock header %}

<!--content -->
{% block content %}
<div class="container mx-auto px-5">
    <div class='md:ml-6 pt-3 md:pl-6'>
        {% if prodlist %}
            {% for item in prodlist  %}
                <p class='font-normal leading-9 text-4xl font-sans md:ml-6 md:pl-6 pt-2 pb-6 mb-6'>{{item.name}}</p>
            {% endfor %} 
        {% endif %}
    </div>
    <main class='md:mx-6 md:px-6 py-6 my-6'>
        <div class="grid grid-cols-2 md:grid-cols-4 place-content-center md:ml-6 md:pl-6">
            {% if prodlist %}
                {% for item in prodlist  %}
                    <div class="w-10/12 bg-white">
                        <a href="{% url 'commerce:detail' item.slug %}">
                            {% if item.cloundImage is not True %}
                                <img id='img' class="h-28 md:h-32 w-11/12 md:w-screen" src="{{ item.image.url }}" alt="product img" />
                            {% else %}
                                <img id='img' class="h-28 md:h-32 w-11/12 md:w-screen" src="{{ item.cloundImage.url }}" alt="product img" /> 
                            {% endif %}
                        </a>
                        <div class="md:px-1 pb-5 py-3">
                            <a href="{% url 'commerce:category' %}">
                                <p class="text-sm font-sans leading-6 font-normal text-[#3a3a3a]">{{ item.category.name }}</p>
                            </a>
                            <a href="{% url 'commerce:detail' item.slug %}">
                                <h5 class="text-base font-sans leading-6 font-bold text-black">{{item.name}}</h5>
                            </a>
                            <div class="flex items-center mt-2.5 mb-5">
                                <span class="text-sm font-bold text-[#3a3a3a] leading-6">₦{{item.price|intcomma}}</span>
                            </div>
                            <form action="{% url 'commerce:addtocart' %}" method="POST" class="d-flex">
                            {% csrf_token %}
                                <input type="hidden"
                                    name="quantity" class="" placeholder="1" value="1">

                                <input type="hidden" name="prodids" value="{{item.pk}}">
                                
                                <div class="flex md:items-center justify-between">
                                    <button href="#" type= "submit" name="cart" value="cart" class="text-white bg-[#B1250A] hover:bg-black focus:ring-4 focus:outline-none focus:ring-black font-bold rounded-lg text-base px-5 py-2.5 text-center dark:bg-[#B1250A] dark:hover:bg-black dark:focus:ring-[#B1250A]">Add to cart</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %} 
            {% endif %}
        </div>
    </main>
</div>
            

{% endblock content %}




<!-- footer content -->
{% block footer %}
  {% include "components/footer.html" %}
{% endblock footer %}
