@tailwind base;
@tailwind components;
@tailwind utilities;



/* .item {
    color: white;
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */





