{% extends "_base.html" %}
{% load humanize %}
{% load mathfilters %}



{% load static %}
{% comment %} {% load humanize %} {% endcomment %}


<!-- title section -->
{% block title %} | Cart{% endblock title %}


<!-- upper header section -->
{% block header %}
  {% include "components/navbar.html" %}
{% endblock header %}

<!--content -->
{% block content %}
<div class="mx-auto mt-10 md:mt-5">
    <div class="flex flex-col md:flex-row my-10 md:my-5">
      <div class="md:w-3/4 bg-white px-3 md:px-10 py-10 md:py-5">
        <div class="flex justify-between border-b pb-8">
          <h1 class="font-bold text-2xl md:text-4xl">Cart</h1>
          {% with total_qty=cart|length %}
            {% if total_qty > 0 %}
              <h2 class="font-semibold text-xl md:text-2xl"><span id="count">{{total_qty}}</span> Items</h2>
            {% else %}
              <h2 class="font-semibold text-xl md:text-2xl">0 Items</h2>
            {% endif %}
          {% endwith %}
        </div>
        <div class="flex mt-10 mb-5">
          <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
        </div>
        {% for item in cart %}
          {% with items=item.product %}
            <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                  <div class="flex w-2/5"> <!-- product -->
                    <div class="w-20">
                      <img class="h-24" src="{{items.image.url}}" alt="">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                      <span class="font-bold text-sm">{{items.name}}</span>
                      <span class="text-red-500 text-xs">{{items.category.name}}</span>
                      <form action="{% url 'commerce:remove_item' %}" method="POST">
                        {% csrf_token %}
                            <input type="hidden" name="deletecart" value="{{items.pk}}">
                            <!-- <button type="submit" class=" border-0 bg-transparent text-primary"><small> Delete</small></button> -->
                            <button type="submit" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</button>
                        </form>
                    </div>
                  </div>
                  <div class="flex justify-center w-1/5 relative item_data">
                    <button type="submit" id="decrementBtn">
                      <span id="decrementBtn" class="fill-current text-gray-600 w-3 text-2xl font-thin">-</span>
                    </button>
                    <input type="hidden" class="prod_id" id="prod_id" value="{{items.pk}}">
                    <input id="quantityInput" min="{{items.min_order}}" max="{{items.max_order}}" name="quantity" class="mx-2 border qtn-input w-10" type="text" value="{{item.qnt}}">
                    
                    <button type="submit" class="absolute top-11 right-2/4">
                      <i id="refresh" class="fa-solid fa-arrows-rotate"></i>
                    </button>
                    
                    <button type="submit" id="incrementBtn">
                      <span id="incrementBtn" class="fill-current text-gray-600 w-3 text-2xl font-thin">+</span>
                    </button>
                  </div>
                  <span class="text-center w-1/5 font-semibold text-sm">₦{{items.price|intcomma}}</span>
                  <p class="text-center w-1/5 font-semibold text-sm">₦<span id="price">{{items.price|mul:item.qnt|floatformat:2|intcomma}}</span></p>
            </div>
          {% endwith %}
        {% endfor %}

        <a href="{% url 'commerce:category' %}" class="flex font-semibold text-[#B1250A] text-sm mt-10">
      
          <svg class="fill-current mr-2 text-[#B1250A] w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
          Continue Shopping
        </a>
      </div>

      <div id="summary" class="md:w-1/4 px-3 md:px-8 py-10 md:py-5">
        <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
        <div class="flex justify-between mt-10 mb-5">
            {% with total_qty=cart|length %}
              {% if total_qty > 0 %}
                <h1 class="font-semibold text-sm uppercase">Items <span id="counts">{{total_qty}}</span></h1>
              {% else %}
                <span class="font-semibold text-sm uppercase">Items 0</span>
              {% endif %}
            {% endwith %}

            <span class="font-semibold text-sm">₦ <small id="subtotal">{{subtotal|intcomma}}</small></span>
            {% comment %} {% if cart %}
            {% endif %} {% endcomment %}
        </div>
        <div>
          <label class="font-medium inline-block mb-3 text-sm uppercase">Shipping</label>
          <select class="block p-2 text-gray-600 w-full text-sm">
            <option>Standard shipping - $10.00</option>
          </select>
        </div>
        <div class="py-10">
          <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
          <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full">
        </div>
        <button class="bg-[#B1250A] hover:bg-[#B1250A] px-5 py-2 text-sm text-white uppercase" disabled>Apply</button>
        <div class="border-t mt-8">
          <div class="flex font-semibold justify-between py-6 text-sm uppercase">
            <span>Total cost</span>
            <span>$600</span>
          </div>
          <a href="{% url 'productcart:checkout' %}" class="bg-[#B1250A] px-10 font-semibold hover:bg-[#B1250A] py-3 text-sm text-white uppercase max-w-xl">Checkout</a>
        </div>
      </div>

    </div>
</div>            

{% endblock content %}




<!-- footer content -->
{% block footer %}
  {% include "components/footer.html" %}
{% endblock footer %}
